* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
}

body {
  background-color: #fafafa;
  font-family: "Special Elite", cursive;
}

/* navbar */
.nav-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3rem;
  margin-bottom: -2.5rem;
}

header {
  width: 1200px;
  height: 80px;
  background-color: white;
  color: #243340;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  font-weight: 800;
}

header a {
  color: #75838c;
  text-decoration: none;
}

header a:active {
  color: #724849;
}

header a:hover {
  color: #724849;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

header nav a {
  background-image: linear-gradient(#724849, #724849);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
}

.action {
  width: 20%;
  background-color: #724849;
  text-align: center;
  padding: 2rem;
}

.action:hover {
  color: white;
  background-color: #75838c;
}

.action a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  width: 20%;
}

.logo a img {
  padding: 1rem;
  width: 100%;
  min-width: 80px;
}

.navigation {
  width: 60%;
  padding: 10px;
}
/* Banner */

.banner {
  width: 100%;
  height: 25rem;
  background-image: url("./assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -2rem;
}

.banner_overlay h2 {
  color: white;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 5rem;
}

.banner_overlay {
  background-color: #243340;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  color: white;
  width: 100%;
  height: 25rem;
}
/* Contact_Form */
#Contact_Form {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
label {
  color: white;
}
input[type="text"] {
  margin-bottom: 15px;
  background-color: white;
  color: black;
}
input[type="email"] {
  margin-bottom: 15px;
  background-color: white;
}
input[type="textarea"] {
  height: 100px;
}

/* Footer */

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    margin: 0px;
  }

  header nav a {
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
  }

  .action {
    display: none;
  }

  .logo a img {
    display: flex;
    width: 100px;
  }

  .navigation {
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
  }

  .logo {
    width: 30%;
  }
}
