body {
  background-color: #fafafa;
  font-family: "Special Elite", cursive;
}

.nav-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3rem;
}

header {
  width: 1200px;
  height: 80px;
  background-color: white;
  color: #243340;
  display: flex;
  align-items: center;
}

header a:active {
  color: #724849;
}

header a:hover {
  color: #75838c;
}

header nav a {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  text-decoration: none;
  color: #75838c;
}

header nav a:hover {
  color: #724849;
  border-bottom: #724849 solid 3px;
}
.action {
  display: inline-block;
  width: 20%;
  background-color: #724849;
  text-align: center;
  padding: 1.9rem;
}

.action:hover {
  background-color: #75838c;
  color: white;
  transition: delay(0.5s);
}

.action a {
  color: white;
  text-decoration: none;
}

.action a:hover {
  color: white;
}

.logo {
  width: 30%;
}

.logo img {
  margin-left: 1rem;
}

.navigation {
  width: 50%;
}
