* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Special Elite", cursive;
}

body {
  background-color: #fafafa;
  font-family: "Special Elite", cursive;
}

/* navbar */
.nav-bar {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3rem;
  margin-bottom: -2.5rem;
}

header {
  width: 1200px;
  height: 80px;
  background-color: white;
  color: #243340;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  font-weight: 800;
}

header a {
  color: #75838c;
  text-decoration: none;
}

header a:active {
  color: #724849;
}

header a:hover {
  color: #724849;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

header nav a {
  background-image: linear-gradient(#724849, #724849);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
  background-position-x: 0%;
}

.action {
  width: 20%;
  background-color: #724849;
  text-align: center;
  padding: 2rem;
}

.action:hover {
  color: white;
  background-color: #75838c;
}

.action a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  width: 20%;
}

.logo a img {
  padding: 1rem;
  width: 100%;
  min-width: 80px;
}

.navigation {
  width: 60%;
  padding: 10px;
}
/* Banner */

.banner {
  width: 100%;
  height: 25rem;
  background-image: url("./assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -2rem;
}

.banner_overlay h2 {
  color: white;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 5rem;
}

.banner_overlay {
  background-color: #243340;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  color: white;
  width: 100%;
  height: 25rem;
}

/* Description Section */
.cast_entry {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cast_left img {
  width: 100%;
}

.cast_left {
  width: 50%;
  padding: 1rem;
}

.cast_right {
  width: 50%;
  padding: 2rem;
  text-align: justify;
  line-height: 2rem;
  color: #75838c;
}

.cast_right h2 {
  padding-bottom: 1.5rem;
  color: black;
}

/* Series Gallery Section */

#Galery_Section {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

figure {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); */
  transition: 0.2s;
  width: 300px;
  border-radius: 5px;
  padding: 5px;
}

figure:hover {
  box-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.3);
  width: 350px;
}

img {
  border-radius: 5px;
}

figcaption {
  padding: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: 340;
  color: lightgray;
}

figcaption:hover {
  color: white;
}

/* Footer */

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 10px;
}

/* Responsive */

@media screen and (max-width: 760px) {
  .logo a img {
    padding: 0px;
  }
  .action {
    display: none;
  }
  header {
    justify-content: space-around;
  }
  .cast_entry {
    display: block;
    margin: 1rem;
  }
  .cast_right {
    width: 100%;
  }
  .cast_left {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  header nav li {
    font-size: 12px;
  }
  .action {
    display: none;
  }
  #footer_left,
  #footer_right {
    display: none;
  }

  .cast_left img {
    padding-top: 2rem;
  }
}
